* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #bcb7d6;
  font-family: arial;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header" "container container" "footer footer"; }

.header {
  grid-area: header;
  background-color: #2e363f;
  padding: 3; }
  .header .navbar {
    background-color: #c6e22b; }
    .header .navbar ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: none; }
    .header .navbar li a:hover {
      color: red; }

.container {
  grid-area: container; }
  .container .titulo {
    text-decoration: underline;
    text-align: center; }
  .container .tarj1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem; }
    .container .tarj1 .tarj2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1rem; }
      .container .tarj1 .tarj2 .tarj3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem; }
        .container .tarj1 .tarj2 .tarj3 .tarj4 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 1rem; }

.container {
  grid-area: container; }
  .container .titulo {
    text-decoration: underline;
    text-align: center; }
  .container .tarj1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem; }
    .container .tarj1 .tarj2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1rem; }
      .container .tarj1 .tarj2 .tarj3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem; }
        .container .tarj1 .tarj2 .tarj3 .tarj4 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 1rem; }

.footer {
  grid-area: footer;
  background-color: #2e363f;
  /*padding: 5px;
    width: 90%;
    margin: 20px auto;*/ }
  .footer .redes {
    color: #a72a2a;
    text-decoration: none;
    list-style-type: none;
    font-family: cursive; }
