.colorR, .footer h5, .footer .ubicacion {
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #bcb7d6;
  font-family: arial;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "header header" "container container" "footer footer"; }

.header {
  grid-area: header;
  background-color: #2e363f;
  padding: 3; }
  .header .navbar {
    background-color: #c6e22b; }
    .header .navbar li a:hover {
      color: red; }

.container .tarj1 {
  grid-area: tarj1;
  /*display: flex;*/
  flex-direction: row;
  justify-content: center;
  padding: 1px;
  background-color: #eee7e7; }
  .container .tarj1 h3 {
    color: #521414; }
  .container .tarj1 p {
    color: #521414; }

.container .tarj2 {
  grid-area: tarj2;
  /*display: flex;*/
  flex-direction: row;
  justify-content: center;
  padding: 1px;
  background-color: #eee7e7; }
  .container .tarj2 h3 {
    color: #521414; }
  .container .tarj2 p {
    color: #521414; }

.container .tarj3 {
  grid-area: tarj;
  /*display: flex;*/
  flex-direction: row;
  justify-content: center;
  padding: 1px;
  background-color: #a9e2e2; }
  .container .tarj3 h3 {
    color: #121257; }
  .container .tarj3 p {
    color: #121257; }

.container .tarj4 {
  grid-area: tarj4;
  /*display: flex;*/
  flex-direction: row;
  justify-content: center;
  padding: 1px;
  background-color: #a9e2e2; }
  .container .tarj4 h3 {
    color: #121257; }
  .container .tarj4 p {
    color: #121257; }

.footer {
  grid-area: footer;
  background-color: #2e363f; }
  .footer .redes {
    color: red;
    text-decoration: none;
    list-style-type: none;
    font-family: cursive; }
