.colorR, .footer h5, .footer .ubicacion {
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(/img/fondo2.jpg);
  background-size: cover;
  background-color: #bcb7d6;
  font-family: arial;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "header header" "container container" "footer footer"; }

.header {
  grid-area: header;
  background-color: #2e363f;
  padding: 3; }
  .header .navbar {
    background-color: #c6e22b; }
    .header .navbar li a:hover {
      color: red; }

.container .tarj1 {
  grid-area: tarj1;
  /*display: flex;*/
  flex-direction: row;
  justify-content: center;
  padding: 1px;
  background-color: #eee7e7; }
  .container .tarj1 h3 {
    color: #521414; }
  .container .tarj1 p {
    color: #521414; }

.container .tarj2 {
  grid-area: tarj2;
  /*display: flex;*/
  flex-direction: row;
  justify-content: center;
  padding: 1px;
  background-color: #eee7e7; }
  .container .tarj2 h3 {
    color: #521414; }
  .container .tarj2 p {
    color: #521414; }

.container .tarj3 {
  grid-area: tarj;
  /*display: flex;*/
  flex-direction: row;
  justify-content: center;
  padding: 1px;
  background-color: #a9e2e2; }
  .container .tarj3 h3 {
    color: #121257; }
  .container .tarj3 p {
    color: #121257; }

.container .tarj4 {
  grid-area: tarj4;
  /*display: flex;*/
  flex-direction: row;
  justify-content: center;
  padding: 1px;
  background-color: #a9e2e2; }
  .container .tarj4 h3 {
    color: #121257; }
  .container .tarj4 p {
    color: #121257; }

.footer {
  grid-area: footer;
  background-color: #2e363f;
  border: solid 2px;
  margin: 2px;
  padding: 1px;
  width: 100%; }
  .footer .redes {
    color: red;
    text-decoration: none;
    list-style-type: none;
    font-family: cursive; }

.mov {
  animation-name: cards_en_movimiento;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 3; }

@keyframes cards_en_movimiento {
  from {
    background-color: #b38787; }
  to {
    background-color: #7e7e4d; } }

img {
  transition: height 2s, width 2s; }

img:hover {
  height: 400px;
  width: 400px; }

.mapa {
  width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 1rem 1rem; }

.card1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 400px;
  margin-right: 30px;
  margin-bottom: 60px; }

.card2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 400px;
  margin-right: 30px;
  margin-bottom: 60px; }
