$bg-color1:rgb(188, 183, 214);
$bg-color2:rgb(46, 54, 63);
$bg-color3:rgb(198, 226, 43);
$bgfondo: rgb(238, 231, 231);
$bgfondo2: rgb(169, 226, 226);
$red: rgb(82, 20, 20);
$texto: rgb(18, 18, 87);

@mixin estiloCaja($bg,$color){
    background-color: $bg;
    h3{
        color: $color;
    }
    p{
        color: $color;
    }
 }

.colorR{
    color: white;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg-color1;
    font-family: arial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
    "header header"
    "container container"
    "footer footer";
}