.footer{
    grid-area: footer;
    background-color: $bg-color2;
    /*padding: 5px;
    width: 90%;
    margin: 20px auto;*/   
    .redes{
    color: rgb(167, 42, 42);
    text-decoration: none;
    list-style-type: none;
    font-family:cursive 
    }
}