.footer{
    grid-area: footer;
    background-color: $bg-color2; 
    border: solid 2px;
    margin: 2px;
    padding: 1px;
    width: 100%; 
    h5{
        @extend .colorR
    }
    .redes{
    color: red;
    text-decoration: none;
    list-style-type: none;
    font-family:cursive 
    }
    .ubicacion{
        @extend .colorR
    }
}